@charset "UTF";

* {
  margin: 0px;
  padding: 0px;
  height: 100%;
}


body {
  background-image: linear-gradient(to bottom, #91D946, #131115);
  background-attachment: fixed;
}

main {
  background-image: linear-gradient(to bottom, #5e9424c9, rgba(48, 44, 44, 0.63));
  

  margin: auto;

  width: 300px;
  height: 800px;
  
  border-radius: 4px;
}

h1 {
  text-align: center;
  padding-top: 30px;
}